@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext');

html { box-sizing: border-box; }
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.App{
  width: 1000px;
}

body {
	margin: 0;
	padding: 20px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", serif;
}
h2{
  text-align: center;
  margin-top: 60px;
}
h4 {
	font-size: 36px;
}

/*  notes */
.containerNotes{
  margin-top: 50px;
}
.containerNotes h2{
  color:rgb(246, 161, 238);
}
.container_post{
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.post-item{
  width: 100%;
  padding: 15px;
  margin-top: 15px;
}
.post_btn{
  border-radius: 3px;
}
.done-icon{
  font-size: 30px;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  border: none;
  background-color: white;
  cursor: pointer;
}

/* form */
.formAdd{
  margin-top: 40px;
} 
/* navigation */
.nav-links a {
  color:rgb(246, 161, 238);
  text-decoration: none;
  margin: 15px;
}

li {
  list-style: none;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  
}
.change_color_done-icon{
  color: green;
}
/* date */
.myInput_Date{
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid rgb(215, 214, 214);
  background-color: rgb(210, 207, 207);
  border-radius: 10px;
  opacity: 0.5;
  
}
